<h1>All schedules</h1>

<div>
    <table class = "schedules">
         <thead>
             <tr>
                 <!-- make username a link into user id page -->
                 <th><a class="links"></a>Username</th>
                 <th>Day</th>
                 <th>Start</th>
                 <th>End</th>
             </tr>
         
         </thead>
         <tbody>
             <% schedules.forEach(schedule => { %>
                 <tr>
                     <td>
                         <a href=" http://localhost:3000/users/<%= schedule.user_id %>/schedules"><%= schedule.user_id %></a>
                     </td>
                     <td>
                         <%= schedule.username %>
                     </td>
             
                     <% let day %>
                     <% if(schedule.day == 1) {%>
                         <%  day = 'Monday'; %>
                     <% } %>
                     <% if(schedule.day == 2) {%>
                         <%  day = 'Tuesday'; %>
                     <% } %>
                     <% if(schedule.day == 3) {%>
                         <%  day = 'Wednesday'; %>
                     <% } %>
                     <% if(schedule.day == 4) {%>
                         <%  day = 'Thursday'; %>
                     <% } %>
                     <% if(schedule.day == 5) {%>
                         <%  day = 'Friday'; %>
                     <% } %>
                     <% if(schedules.day == 6) {%>
                         <%  day = 'Saturday'; %>
                     <% } %>
                     <% if(schedule.day == 7) {%>
                         <%  day = 'Sunday'; %>
                     <% } %>
                     <td><%= day %></td>
                     <td><%= schedule.start_at %> </td>
                     <td><%= schedule.end_at %> <br></td>
             
                 </tr>
             <% }) %>
         </tbody>
     </table> 
</div>